/* Root Background */
.root {
    -fx-background-color: #121212;
    -fx-padding: 20;
}

/* Text Field */
.text-field {
    -fx-background-color: #212124;
    -fx-background-radius: 12;
    -fx-border-color: #3A3B3C;
    -fx-border-width: 1.5;
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-text-fill: #ECF0F1;
    -fx-prompt-text-fill: #BDC3C7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0, 1, 1);
}

/* Button */
.button {
    -fx-background-color: #1877F2;
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0, 2, 2);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color:  #0877F0;
}

/* Label */
.label {
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 28;
    -fx-text-fill: #ECF0F1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 1, 1);
    -fx-padding: 10 0 20 0;
    -fx-alignment: center;
}
